<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
	</head>
	<body>
		<nav>

        		<a href="/"><img src="img/home.png" alt="Home" height="20" width="20"></a>|
	         <a href="/blog"><img src="img/pencil.png" alt="Blog" height="25" width="25"></a>|
    		<a href="mailto:ramya@mapbox.com"><img src="img/mail.png" alt="E-mail" height="25" width="25"></a>|
      <a href="https://github.com/ramyaragupathy"><img src="img/github.png" alt="Github" height="25" width="25"></a>|
      <a href="https://twitter.com/ramya_ragupathy"><img src="img/twitter.png" alt="Twitter" height="25" width="25"></a>

    	</nav>

    		<div class="container">
        	{{content}}
    		</div>


	</body>
</html>
